.m-areas>div.m-area>div.m-spatialcalculator.opened>button.m-panel-btn.opened-left {
    position: absolute;
    right: -2.53rem;
    left: unset !important;
}



/*********************
       GENERAL
*********************/

.m-spatialcalculator-container {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: left;
    overflow-y: auto !important;
    width: 100%;
    overflow: auto;
    z-index: 999 !important;
}

#m-spatialcalculator-limpiar {
    float: right;
}

.m-areas>div.m-area>div.m-panel.m-spatialcalculator.opened {
    width: 27vw;
}

@media only screen and (min-width: 769px) {
    .m-spatialcalculator-container {
        min-width: 340px;
    }
}

/*********************
     TITLES
*********************/

.m-spatialcalculator-container>div.m-spatialcalculator-panel div.title {
    line-height: 40px;
    text-align: center;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 15px;
}

/*********************
     COLUMN & CONTENT COLUMN
*********************/
div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>span {
    width: 17%;
    display: inline-block;
}

div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>select {
    display: -webkit-inline-box !important;
    width: 75%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 0px 3px 5px;
    box-shadow: 1px 1px 3px 0px #999;
}

div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>input {
    width: 63%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 0px 3px 5px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 3px 0px #999;
    border-radius: 0px;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>input {
        width: 97%;
        margin-top: 3%;
    }
}


div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
}

div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div {
    margin-bottom: 4%;
    margin-top: 5%;
}

/****************************
     FIREFOX HACKS
****************************/

@-moz-document url-prefix() {
    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>select {
        border: 1px solid rgb(167, 160, 160);
        padding: 1px 1px 2px 3px;
    }

    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>span {
        width: 33%;
        display: inline-block;
    }

}

/****************************
     IE HACK
****************************/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>select::-ms-expand {
        display: none;
    }

    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>select {
        border: 1px solid rgb(167, 160, 160);
    }
}

@media only screen and (max-width: 768px) {
    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>span {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }

    div.m-spatialcalculator-container>div.m-spatialcalculator-panel>.m-spatialcalculator-datas>div>select {
        display: block;
        width: 100%;
        margin-top: 3%;
    }
}



/***************
    BUTTON
***************/
div.m-spatialcalculator-container>div.m-spatialcalculator-panel>div.button>button,
m-spatialcalculator-copy {
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    font-family: Muli, sans-serif !important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .4);
    font-size: 15px;
    line-height: 25px;
    opacity: .75;
    -webkit-transition: opacity .25s ease 0s;
    transition: opacity .25s ease 0s;
    color: #404040;
}

button#m-spatialcalculator-copy {
    background-color: #fff;
    padding: 1%;
    cursor: pointer;
    font-family: Muli,
        sans-serif !important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .4);
    font-size: 15px;
    line-height: 25px;
    opacity: .75;
    -webkit-transition: opacity .25s ease 0s;
    transition: opacity .25s ease 0s;
    color: #404040;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

div.m-spatialcalculator-container>div.m-spatialcalculator-panel>div.button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table;
    background-color: #eaeaea;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

/***************
       PANEL
***************/

.m-areas>div.m-area>div.m-panel.m-spatialcalculator.collapsed {
    color: #fda823;
    max-height: 40px;
}

.m-areas>div.m-area>div.m-panel.m-spatialcalculator>button.m-panel-btn {
    position: absolute;
    left: -40px;
    background-color: #4e92ce;
    color: #fff;
    z-index: 999999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.m-areas>div.m-area>div.m-panel.m-spatialcalculator.collapsed>button.m-panel-btn {
    position: inherit;
    color: #4e92ce;
    left: 0;
    box-shadow: none;
}

.m-areas>div.m-area>div.m-panel.m-spatialcalculator.opened {
    border-top-left-radius: 0;
    background-color: #f4f4f4;
}


.m-spatialcalculator-container .m-spatialcalculator-panel {
    margin: 0 10px 0 10px;
    top: 0px;
    right: 0px;
    max-height: 100%;
    text-align: left;
    background-color: #fffbfb;
}

@media only screen and (max-width: 768px) {
    .m-areas>div.m-area>div.m-panel.m-spatialcalculator.opened {
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 10000;
    }

    .m-areas>div.m-area>div.m-panel.m-spatialcalculator.collapsed>div.m-panel-controls {
        max-height: 100vh;
        width: 100%;
    }

    .m-areas>div.m-area>div.m-panel.m-spatialcalculator.opened>div.m-panel-controls {
        max-width: 100vw;
        max-height: 100%;
    }

    .m-spatialcalculator-container .table-results span {
        font-size: 2em;
    }

    .m-areas>div.m-area>div.m-panel.m-spatialcalculator>button.m-panel-btn {
        background-color: transparent;
        position: absolute;
        left: initial;
        right: 0;
        color: #fda823;
        z-index: 999999;
        box-shadow: none;
    }
}


#m-spatialcalculator-result {
    padding: 10px;
    text-align: center;
}